<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">

  <title>Dashboard Template for Bootstrap</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Calendar -->
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script type="text/javascript" src="http://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
  <script type="text/javascript" src="http://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="http://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

  <!-- Custom styles for this template -->
  <link href="../public/dashboard.css" rel="stylesheet">

</head>

<body>
  <canvas id="myChart"></canvas>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <script>
    window.jQuery || document.write('<script src="../public/jquery-slim.min.js"><\/script>')
  </script>




  <!-- Icons -->
  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
  <script>
    feather.replace()
  </script>

  <!-- Graphs -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <script>
    function pad(n, width, z) {
      z = z || '0';
      n = n + '';
      return n.length >= width ? n : new Array(width - n.length + 1).join(z) + n;
    }

    var ctx = document.getElementById("myChart");
    var results = {};
    var start = "<%=date[0].time%>";

    results[start] = {};
    results[start]["OK"] = 0;
    results[start]["NO"] = 0;
    <%
     for(var i = 0; i < date.length; ++i) {
    %>
    //  if(results["<%=date[i].time%>"]) {
       results["<%=date[i].time%>"]["<%=date[i].result%>"] += 1;
    // }
    <%
     }
    %>
    //}
    var OKs = [];
    for (var key in results) {
      OKs.push(results[key]["OK"]);
    }
    var NOs = [];
    for (var key in results) {
      NOs.push(results[key]["NO"]);
    }

    var mixedChart = new Chart(ctx, {
      type: 'bar',
      data: {
        datasets: [{
          // OK
          label: 'OK',
          data: OKs,
          lineTension: 0,
          backgroundColor: 'rgba(255, 99, 132, 0.2)',
          borderColor: 'rgba(255, 99, 132, 0.2)',
          borderWidth: 4,
          pointBackgroundColor: 'rgba(255, 99, 132, 0.2)'
        },
          // NO
        {
          label: 'NO',
          data: NOs,
          lineTension: 0,
          backgroundColor: 'rgba(54, 162, 235, 0.2)',
          borderColor: 'rgba(54, 162, 235, 0.2)',
          borderWidth: 4,
          pointBackgroundColor: 'rgba(54, 162, 235, 0.2)',
          type: 'bar'
        }],
        labels: Object.keys(results)
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        },
        legend: {
          display: true
        }
      }
    });
  </script>
</body>

</html>
